h3 {
	font-size: 2em;
	position: relative;
	text-align: center;
	background: -webkit-linear-gradient(60deg, red, blue);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	margin-top: 5em;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 5em;
	padding-left: 18em;
	padding-right: 18em;

	input {
		color: white;
		padding: 0.6em;
		width: 60%;
		background-color: black;
		border-radius: 7px;
		border-image-source: linear-gradient(45deg, red, blue);
		border-image-slice: 5;
	}

	button {
		padding-top: 0.7em;
		padding-bottom: 0.7em;
	}
}
